<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- Import properties files -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:spring/db/config.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="false"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <!-- Database Configuration -->
    <import resource="classpath:spring/db/hibernate.xml"/>

    <!-- register dozer bean -->
    <import resource="classpath:mapping/dozer-bean.xml" />

    <!-- register cxf REST endpoint -->
    <import resource="classpath:cxf/cxf-servlet-rest.xml" />
    <!-- register cxf SOAP endpoint -->
    <import resource="classpath:cxf/cxf-servlet-soap.xml" />

    <!-- register JMX bean -->
    <import resource="classpath:jmx/jmx-context.xml" />

    <!-- to turn on annotation wiring == turns on only the registered beans
        through ApplicationContext -->
    <context:annotation-config />

    <!-- scans and register beans using annotation-config (metadata) -->
    <context:component-scan base-package="by.epam.rafalovich.archiveservice" />

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

</beans>